:root {
  font-size: 14px;
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-weight: 300;
  --base-color: #d6d3d1; /* Tailwind Yellow */
  --main-color: #22c55e; /* Tailwind Green*/
  --secondary-color: #fff;
  --accent-color: #a855f7;

  --border-radius-cards: 10px;
  --border-radius-buttons: 30px;

  --text-secondary-color: #737373;

  --font-size-header: 1.1em;
  --font-size-sidebar: 1.1em;
  --font-size-main: 0.7em;

  --icon-width: 24px;
  --card-icons-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 250px 4fr;
  grid-template-rows: 1fr min(3fr);
}

li {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-self: center;
  font-weight: bold;
}

ul {
  display: grid;
}

header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 10px 30px;

  font-size: var(--font-size-header);
  font-weight: bold;
}

header ul {
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 30px;
  color: var(--secondary-color);
}

header li {
  background-color: var(--main-color);
  border-radius: var(--border-radius-buttons);
  padding: 10px;
  display: grid;
}

.search-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

input {
  border-style: none;
  background-color: var(--base-color);
  border-radius: 20px;
  outline: none;
  height: 30px;
  max-width: 500px;
  flex: 1 0 auto;
  padding: 5px;
}

input:hover {
  opacity: 0.6;
}

input:focus {
  border: 1px solid hsla(0, 0%, 0%, 0.456);
  opacity: 0.6;
}

.status {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 0 10px;

  font-size: 1.2em;
}

.hi-there {
  display: flex;
  flex: 1 0 auto;
  gap: 10px;
  align-items: center;
}

.hi-there p {
  font-size: 0.9em;
}

p.name-big {
  font-size: 1.4em;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 70px 300px 150px;
  gap: 15px;
  padding: 0px 10px;

  font-size: var(--font-size-sidebar);
  color: white;
  background-color: var(--main-color);
}

.sidebar ul {
  display: grid;
  font-size: 1.2em;
  margin: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-container img {
  width: 50px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;

  padding: 30px 20px;

  font-size: var(--font-size-main);
  background-color: var(--base-color);
}

main p {
  color: var(--text-secondary-color);
}

main h1 {
  margin-bottom: 10px;
}

main h2 {
  margin-bottom: 2px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px 20px 0px;
  font-size: 1.1em;
  overflow: hidden;
}
.card p {
  font-size: 1.3em;
  /* margin-bottom: 60px; */
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(2 * var(--card-icons-padding) + var(--icon-width));
  bottom: 0;
  left: 0;

  background-color: #a855f7;
  z-index: 1;
}

.card-info-wrapper {
  margin-bottom: 10px;
}
.card-icons {
  display: flex;
  justify-content: end;
  gap: 16px;
  padding: var(--card-icons-padding);
  z-index: 10;
}

.side-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ann-container {
  display: grid;
  gap: 20px;

  padding: 20px;
}

.announcement {
  font-size: 0.9em;
}

.announcement p {
  font-size: 1.4em;
}

.users {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.user {
  display: flex;
  gap: 10px;
  font-size: 1.4em;
  align-items: center;
}

.ann-container,
.card,
.users {
  border-radius: var(--border-radius-cards);
  background-color: var(--secondary-color);
}

.icon {
  width: var(--icon-width);
}

span {
  flex: 0 0 auto;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

span.avatar {
  width: 70px;
  height: 70px;
}

span.avatar-small {
  width: 50px;
  height: 50px;
}

span img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

a {
  transition: 0.3s;
}

a:hover {
  color: #ffffff8e;
}
